@import '@styles/index.scss';

.hero-section {
	background-position: center right;
	background-size: cover;
	width: 100%;
	height: 80vh;
}
.hero-wrapper {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	height: 100%;
	max-width: 400px;
}
.hero-title {
	font-size: 62px;
	line-height: 1.03;
	color: #ffffff;
	font-family: $font-accent !important;
	font-style: normal !important;
	
}
.hero-subtitle {
	font-size: 18px;
	font-family: $font-secondary !important;
	color: #f9fbff;
}
.hero-button {
	background-color: #ffffff;
	color: #000000;
	padding: 12px;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 15px;
	border-radius: 25px;
	font-family: $font-secondary !important;
}

@media (min-width: 850px) {
	.hero-wrapper {
		padding: 0 130px;
		max-width: 660px;
	}
}	
