@import '@styles/index.scss';

.features-section {
    background-color: #f9fbff;
    width: 100%;
    padding: 70px 20px;
}
.features-section-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.feature-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	max-width: 250px;
	text-align: center;
}
.feature-text {
    margin-bottom: 12px;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
}

@media (min-width: 850px) {
    .features-section-in {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
