// Global styles i variables
@import 'variables';
.section-container {
    max-width: $max-width-container;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 1340px) {
    .section-container {
        padding-left: 0;
        padding-right: 0;
    }
}